{% extends 'new1.html' %}
{% block title %}
Profile
{% endblock title %}
{% load static %}
{% block profile %}
<div class="container" style="padding-top: 5%;">
{% if user.is_authenticated %}
<h2 style="align-items:flex-end;"><img src="{{user.image.image.url}}"  align="right" width="300" height ="300" alt="pic"></h2>

<h2> your username is {{ user.username }}</h2>

<h2>your email is {{user.email}}</h2>
<h2>your first name is {{user.first_name}}</h2>
<h2>your last name is {{user.last_name}}</h2>
<h2>your age is {{user.image.age}}</h2>

<!--
<h2>your pic is {{user.extendeduser.image}}</h2>
<h2>your pic is<img src="{{user.extendeduser.image.url}}" width="300" alt="pic"></h2>
<h2>your age is {{user.extendeduser.age}}</h2>
-->
{% endif %}

{% for message in messages %}
{{message}}
{% endfor %}
</div>
{% endblock profile %}